body{
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}
ul, menu, dir {
	display: block;
	list-style-type: disc;
	margin:0;
}
li {     
   text-align: center; 
   list-style:none;  
}
div#container{
	width:100%
}
div#header {
	background-color:#99bbbb;
	text-align:center;
}
div#menu {
	float: left;
	width: 150px;
	overflow: hidden;
	background-color:#ffff99;
	margin-left:300px;
	height:100%;
}
div#content {
	width: 600px;
	background-color:#EEEEEE; float:left;
}
div#userinfo{
	background-color:#ffff99;width:10%; float:left;height:100%;
}
div#footer {
	background-color:#99bbbb;clear:both;text-align:center;
}
h1 {
	margin-bottom:0;
}
h2 {
	margin-bottom:0; font-size:14px;
}
.wb_detail{
	width: 495px;
	margin-left: 65px;
}
.acoount_name{
	width: 495px;
	height:16px;
	font-size: 15px;
	font-weight: bold;
}
.account_image{
	float: left;
	width: 50px;
	margin:10px;
	position: relative;
}
.wb_feed_listitem{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0 0 11px;
	overflow: hidden;
	width: 580px;
	margin:10px;
}
.wb_form{
	float: right;
	color: #0a8cd2;
}
.wb_text{
	font-size: 14px;
	line-height: 23px;
	padding: 4px 0 4px;
	width: 495px;
	height:54px;
}
.wb_bottom{
	
}
.wb_time{
	float: left;
	padding: 4px 0 4px;
	margin-left:10px;
}
.comment_button{
	float: right;
	margin:10px
}
.comment_content{
	overflow:hidden;
	margin:10px;
	width:480px;
	word-wrap: break-word;
	line-height: 18px;
	overflow-y:visible;
}
.comments_area{
	float:left;
	width:480px;
}
.commment_list{
	float:left;
	width:480px;
}
dt{
	width: 55px;
	padding: 3px 0 0;
	float:left;
}
dd{
	line-height: 21px;
	word-wrap: break-word;
	zoom: 1;
	vertical-align: text-bottom;
	margin-left:70px;
}
dl{
	clear:left;
	line-height: 20px;
	border-color: #d9d9d9
	padding: 10px 0;
	margin: -1px 0 0;
	border-width: 1px 0 0;
	border-style: solid;
	zoom: 1;
}
